# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# ROS 2
smartcart_ws/build/
smartcart_ws/install/
smartcart_ws/log/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
