<?xml version="1.0"?>

<model>
  <name>human</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>SmartCart Project</name>
    <email>smartcart@example.com</email>
  </author>

  <description>
    Simple simulated human model for SmartCart human-following simulation.
  </description>
</model>
